.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid red;
    padding: 0px 20px;
}

.logo {
    width: 100px;
    height: 70px;
}

.nav-items >ul {
    display: flex;
    list-style: none;
    
}

.nav-items > ul > li {
    padding: 0px 20px;
}

.search {
    padding: 20px;
}

.res-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.res-card {
    width : 180px;
    height: 330px;
    border: 1px solid #ddd;
    padding: 10px;
}

.res-card:hover {
    cursor: pointer;
    box-shadow: 1px -1px 13px 4px #ddd
}

.res-logo {
    width: 100%;
}

.res-card h5 {
    word-break: break-word;
}

.res-logo img {
    width: 100%;
    height: 100px;
    object-fit: cover;
}

.footer {
    margin-top: 15px;
    border: 1px solid #000;
    height: 70px;
}

.filter-btn {
    margin: 10px;
}